<div class="video-content">
    <span class="video-name"><%= name %></span>
    <span class="video-category"><%= category %></span>
    <span><%= description %></span>
    <span class="video-price"><%= price %></span>
    <br>
    <span class="video-info-btn"><a href="/videot/<%= id %>" target="_self"><button>Lisää tietoa</button></a></span>
</div>