<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
    <link rel="stylesheet" href="/styles/video.css">
    <link rel="stylesheet" href="/styles/actor.css">
    <script src="/js/video.js" defer></script>
    <script src="/js/search.js" defer></script>
    <% if (typeof name === 'string') { %>
        <title><%= name %> - Sakila</title>
    <% }  else { %> 
        <title>Videot - Sakila</title> 
    <% } %>
    
</head>    
<body>
    <div id="site-content">
        <% if (isActor) { %>
            <h1>Näyttelijät</h1>
        <% } else if (typeof name === 'string') {%> 
            <h1><%= name %></h1>
        <%} else { %>
            <h1>Videot</h1>
        <% } %>

        <div class="container">
            <%- include('partials/filterNav', {isActor:isActor}) %>
            <% if (!isActor) { %>
                <%- include('partials/videoContainer', {videos:videos}) %>
            <% } else { %>
                <% if (!actors.lenght) { %>
                    <% count=0 %>
                <% } %>
                <%- include('partials/actorContainer', {actors:actors}) %>
            <% } %>
            <%- include('partials/pageNav', {page:page, count:count}) %>
        </div>
    </div>
</body>
<%- include('partials/footer') %>
</html>
